<h4 class="newsI myBox3"><img class="small" type="image" src="assets/7.png" alt="img"/>  Aktualności:</h4>
<div class="news myBox">
    <div class="a">
        <p class="red">Szanowni Państwo, w związku z epidemią w najbliższym czasie kursujemy według zmienionego harmonogramu, dotychczasowy rozkład nie obowiązuje do odwołania.</p>
    </div>
    <div class="b">
        <p>Zachęcamy do składania rezerwacji na przejazdy</p>
        <button class="mainButton" (click)="onStart()">START</button>
    </div>
</div>

