<div class="myBox">
    
    <div>
    <h5>Kontakt <img class="left" type="image" src="assets/16.png" alt="img"/></h5>
    <p>Adres: {{adres}}</p>
    <p>Telefon: {{telefon}}</p>
    <p>Email: {{email}}</p>
    </div>
</div>
<div class="myBox2">
    <h5>O nas</h5>
    <p class="red">KKBUS jest firmą założoną w Krakowie. Początki działalności sięgają połowy 2019 roku. Do Państwa dyspozycji oddajemy cztery busy oraz 
        jeden autokar. Naszę przedsiębiorstwo nieustanie sie rozwija. Planujemy wkrótce uruchomić nowe połączenia oraz zakupić nowe pojazdy.
    </p>
</div>